.homePageWarpper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.formWrapper {
  background: #282a36;
  padding: 20px;
  border-radius: 15px;
  width: 400px;
  max-width: 90%;
  margin: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  a {
    color: #4aee88;
    text-decoration: none;
    border-bottom: 1px solid #4aee88;
  }
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLable {
  margin-bottom: 20px;
  margin-top: 0;
}

.homeLogo {
  height: 80px;
  margin-bottom: 30px;
}

.inputBox {
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn {
  background: #20cc62;
  width: 100px;
  margin-left: auto;
  font-weight: bold;
}

.joinBtn:hover {
  background: #2b824c;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #4aee88;
  text-decoration: none;
  border-bottom: 1px solid #4aee88;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover , footer a:hover {
  color: #2b824c;
}

.mainWrapper {
  display: grid;
  grid-template-columns: 230px 1fr;
  /* height: 100vh; */
}

.sidebar {
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.innerbar {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.codeEditor {
  background: #282a36;
  padding: 16px;
  color: #fff;
}

.userName {
  margin-top: 6px;
}

.logo {
  border-bottom: #424242 2px solid;
  padding-bottom: 10px;
}

.logoImage {
  height: 70px;
}

.copyBtn {
  background: #4aee88;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;

}

.leaveBtn {
  background: #ad1414;
  color: #fff;
  margin-top: 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;

}
.copyBtn:hover {
  background: #2b824c;
}
.leaveBtn:hover {
  background: #8b0c0c;
}
.CodeMirror {
    min-height: calc(100vh - 50px);
    font-size: 28px;
    line-height: 1.7;
    padding-top: 18px;
}