.homePageWarpper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}

.formWrapper {
  background: #282a36;
  padding: 20px;
  border-radius: 15px;
  width: 400px;
  max-width: 90%;
  margin: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  a {
    color: #4aee88;
    text-decoration: none;
    border-bottom: 1px solid #4aee88;
  }
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLable {
  margin-bottom: 20px;
  margin-top: 0;
}

.homeLogo {
  height: 80px;
  margin-bottom: 30px;
}

.inputBox {
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn {
  background: #20cc62;
  width: 100px;
  margin-left: auto;
  font-weight: bold;
}

.joinBtn:hover {
  background: #2b824c;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #4aee88;
  text-decoration: none;
  border-bottom: 1px solid #4aee88;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover , footer a:hover {
  color: #2b824c;
}

.mainWrapper {
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.innerbar {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  /* background: #4aee88;
  color: #1c1e29;
  padding: 2px;
  border-radius: 8px; */
}


.codeEditor {
  background: #282a36;
  padding: 16px;
  color: #fff;
}

.username {
  margin-top: 6px;
}

.logo {
  border-bottom: #424242 2px solid;
  padding-bottom: 10px;
}

.logoImage {
  height: 70px;
}

.copyBtn {
  background: #4aee88;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.leaveBtn {
  background: #ad1414;
  color: #fff;
  margin-top: 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.copyBtn:hover , .runBtn:hover {
  background: #2b824c;
}

.leaveBtn:hover {
  background: #8b0c0c;
}

.CodeMirror {
  min-height: calc(68vh - 20px);
  font-size: 18px;
  line-height: 1.2;
  padding-top: 8px;
  border-radius: 10px;
}

.runBtn {
  background: #0ee919;
  margin-top: 5px;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.codeOutput {
  background: #1e1e1e;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  color: #4aee88;
  font-size: 16px;
  max-height: calc(25vh);
  overflow: auto;
}

.typingBox {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #ffa500;
  font-style: italic;
}
